# {{ ansible_managed }}

SUBSYSTEM=="usb", ATTR{idVendor}=="{{ usbtiny_vendor_id }}", ATTR{idProduct}=="{{ usbtiny_product_id }}", GROUP="{{ usbtiny_group }}", MODE="{{ usbtiny_mode }}"
